/* start the base fraimwork styles. Can include base construction - forms/buttins/navigation and other */

/* main fraimwork start here */
.inbox{
	box-sizing: border-box;
}
.to-left { float: left }
.to-right{ float: right }
.inline{
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1; 
}
.clear{
	content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.clearfix:after{ @extend .clear; }


/* basic typography */

@font-face {
    font-family: 'eurofontBoldc';
    src: url('fonts/new/EurofontC-Bold.otf');
}

@font-face {
    font-family: 'eurofontC';
    src: url('fonts/new/EurofontC.otf');
}

@font-face {
    font-family: 'eurofontMediumC';
    src: url('fonts/new/EurofontMediumC.otf');
}

@font-face {
    font-family: 'eurofontlightc';
    src: url('fonts/new/EurofontLightC.otf');
}



body{  font-family: 'eurofontlightc', sans-serif; }
h1, h2, h3{ font-family: 'eurofontC', sans-serif; }
h1{
    font-size: 24px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
    margin-bottom: 30px;
    a{
        color: #000;
        border-bottom: 2px solid #000;
        &:hover{ border-bottom: none; }
    }
}
h4{

}
h5{

}
h6{

}

/* Заголовок + ссылка */
.headline{
    font-size: 24px;
    margin-top: 30px;
    padding-right: 169px;
    a{
        float: right;
        color: #8c8c8c;
        font-size: 14px;
        line-height: 24px;
        text-decoration: underline;
        &:hover{ text-decoration: none; }
    }
}


p,li{ font-size: 16px; }

a{  
    color: #000;
    text-decoration: none;
    font-family: 'eurofontlightc', sans-serif;
}

.link-line{
    text-decoration: underline;
    &:hover{ text-decoration: none; }
}
.link-dashed{
    border-bottom: 1px dashed #000;
    &:hover{ border-bottom-color: transparent; }
}

/* 12-колоночная сетка */
.row:after { @extend .clear; }
.column {  
    float: left; 
    padding: 10px;
    @extend .inbox;
    &:first-child { padding-left: 0px; }
    &:last-child  { padding-right: 0px; }
}
.column1  {  width: 8.33%;  }
.column2  {  width: 16.66%; }
.column3  {  width: 25%;    }
.column4  {  width: 33.33%; }
.column5  {  width: 41.66%; }
.column6  {  width: 50%;    }
.column7  {  width: 58.33%; }
.column8  {  width: 66.66%; }
.column9  {  width: 75%;    }
.column10 {  width: 83.11%; }
.column11 {  width: 91.66%; }
.column12 {  width: 100%;   }




/* form style input and other */

form{
    input{
        color: #505050;
        font-size: 14px;
        box-sizing: border-box;
        font-family: 'eurofontlightc', sans-serif;
        outline: none;
        border: 0;
        &:focus{

        }
    }
    input::-webkit-input-placeholder{ color: #8c8c8c;  }
    input::-moz-placeholder{ color: #8c8c8c;  }
    label{ cursor: pointer; }

    input[type="submit"], button{
        cursor: pointer;
        outline: none;
    }
}

/* btn styles */
.btn{
    display: inline-block;
    text-align: center;
    &:hover{
        
    }
}

/* Общие стили для формы */ 
form{
    .input-search{
        width: 85%;
        float: left;
        height: 26px;
        padding: 0 15px;
        line-height: 17px;
        border: 1px dashed #f0f0f0;
        border-right: none;
        &:focus{ border-color: #ccc; }
    }
    .submit-search{
        width: 15%;
        float: left;
        font-size: 0;
        height: 26px;
        background: #f0f0f0 url(img/icon-search.png) no-repeat;
        background-position: center center;   
        &:hover{ background-color: #dedcdc; }   
    }
}
footer form{
    input[type="text"]{ font-size: 12px; }
    input::-webkit-input-placeholder{ color: #505050;  }
    input::-moz-placeholder{ color: #505050; }
}


/* ---- Стили для выравнивания блоков ---- */
.container{
    width: 960px;
    margin: 0 auto;
}
.wrapper-block{
    width: 800px;
    margin: 0 auto;
}


/* ---- Стили для хлебных крошек ---- */
.breadcrumbs{
    margin: 25px 0;
    a, p{
      color: #8c8c8c;
      font-size: 12px;
      display: inline-block;
      vertical-align: top;
    }
    a:after{
      content: "/";
      margin: 0 3px;
    }
    p, .active{ color: #000; }
} 


/* ---- Для всех каталогов ---- */ 
.catalog{
    font-size: 0;
    margin: 40px 0px;
    *{ box-sizing: border-box; }
}

/* ---- Стили для одного товара ---- */ 
.goods{
    color: #000;
    width: 146px;
    font-size: 16px;
    margin-right: 17px;
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 9px;
    background: #fff;
    border: 1px solid #e1e1e1;

    &:nth-child(5){ margin-right: 0; }
    img{ width: 100%; }

    .name{ 
        width: 79%;
        float: left; 
        padding: 8px 0px 0px 12px;
    }
    .number{ 
        width: 21%;
        float: right; 
        color: #8c8c8c;
        font-size: 10px;
        text-align: right;
        padding: 12px 12px 0px 0px;
    }
    :after{
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }
}


/* ---- Вспылавающие поповеры ---- */ 
.link-popup{ 
    display: inline-block;
    position: relative; 
    &:hover .popup{ display: inherit; }
}
.popup{
    z-index: 10;
    top: -22px;
    right: -95px;
    @extend .inbox;
    position: absolute;
    display: none;
}


/* 
    arcticModal — jQuery plugin
    Version: 0.3
*/ 

.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/*
    BxSlider v4.1.2 - Fully loaded, responsive content slider
    http://bxslider.com
*/

/* RESET AND LAYOUT*/
.bx-wrapper {
    position: relative;
    margin: 0 auto 35px;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/* THEME */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(img/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
    text-align: right;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    position: absolute;
    bottom: 17px;
    right: 17px;
    font-size: 0;
    padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    outline: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
    left: -50px;
    background: url(../img/arrows.png) no-repeat 0 0px;
}
.bx-wrapper .bx-next {
    right: -50px;
    background: url(../img/arrows.png) no-repeat -48px 0px;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    z-index: 9999;
}
.bx-wrapper .bx-controls-direction a:hover{ opacity: 0.6; }

.bx-wrapper .bx-controls-direction a.disabled { display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {   text-align: center;  }
.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(img/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(img/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left; width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0; width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}
.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

/* My styles */ 
.slider .bx-controls-direction{ display: none; }
.custom-slider .bx-pager{ display: none; }
