/* 
	start the project modules like a pages 
*/

/* ================
	
=================== */



/* ================
   main styles page (index.html)
=================== */

/* Верхняя шапка */
.head-page{
	padding-top: 18px;
	padding-bottom: 15px;
	.logo{
		width: 170px;
		display: block;
		margin-right: 155px;
	}
	form{
		width: 267px;
	}
	.contacts{
		width: 338px;
		text-align: right;
		p{ line-height: 20px; }
		a{
			color: #000;
			border-bottom: 1px dashed #000;
			&:hover{ border: 0; }
		}
	}
}

/* Основное меню */ 
header{
	margin-bottom: 3px;
	nav{
		font-size: 0;
		padding: 7px 0;
		background: #000;
		a{
			color: #fff;
			font-size: 16px;
			background: #000;
			padding: 2px 57px;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			border-right: 1px solid #fff;
		    &:hover{ color: #ccc; }
		}
		a:last-child{ border-right: none; }
	}
}

/* Слайдер */ 
.slider{
	position: relative;
	.slider-caption{
		width: 350px;
		padding: 18px 20px;
		box-sizing: border-box;
		background: rgba(255,255,255,0.7);
		position: absolute;
		top: 35px;
		left: 60px;
	}
	h2 {
		margin-bottom: 10px;
		a{
			color: #000;
			line-height: 31px;
			border-bottom: 3px solid #000;
		}
	}
	p{ line-height: 22px; }
}


/* О компании */ 
.about-company{
	margin-bottom: 45px;
	p{ 
		width: 160px; 
		margin-right: 15px;
	}
	.map{ 
		width: 440px; 
		margin-right: 25px;
	}
	.pdf{ 
		width: 160px; 
		a span{
			color: #000;
			font-size: 14px;
			line-height: 18px;
			border-bottom: 1px dashed #000;
			&:hover{ border: 0; }
		}
	}
}


/* Каталог товаров */ 
.products{
	font-size: 0;
	*{ box-sizing: border-box; }
	.goods{
		min-height: 180px;
	}
}

/* Дизайнерские серии */
.design-products{
	font-size: 0;
	margin: 50px 0px;
	*{ box-sizing: border-box; }
	.goods{
		min-height: 305px;
	}
}













