/* 
	start the project modules like a pages 
*/

/* ================
	
=================== */



/* ================
   main styles page (index.html)
=================== */

/* Верхняя шапка */
.head-page{
	padding-top: 18px;
	padding-bottom: 15px;
	.logo{
		width: 170px;
		display: block;
		margin-right: 155px;
	}
	form{ width: 267px; }
}
.contacts{
	width: 338px;
	text-align: right;
	p{ line-height: 20px; }
	a{
		color: #000;
		border-bottom: 1px dashed #000;
		&:hover{ border: 0; }
	}
}

/* Основное меню */ 
header{
	margin-bottom: 3px;
	nav{
		font-size: 0;
		padding: 7px 0;
		background: #000;
		a{
			color: #fff;
			font-size: 16px;
			background: #000;
			padding: 2px 57px;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			border-right: 1px solid #fff;
		    &:hover{ color: #ccc; }
		}
		a:last-child{ border-right: none; }
	}
}

/* Слайдер */ 
.slider{
	position: relative;
	.slider-caption{
		width: 350px;
		padding: 18px 20px;
		box-sizing: border-box;
		background: rgba(255,255,255,0.7);
		position: absolute;
		top: 35px;
		left: 60px;
	}
	h2 {
		margin-bottom: 10px;
		a{
			color: #000;
			line-height: 31px;
			border-bottom: 3px solid #000;
		}
	}
	p{ line-height: 22px; }
}

/* О компании */ 
.about-company{
	margin-bottom: 45px;
	p{ 
		width: 160px; 
		margin-right: 15px;
	}
	.map{ 
		width: 440px; 
		margin-right: 25px;
	}
	.pdf{ 
		width: 160px; 
		a span{
			color: #000;
			font-size: 14px;
			line-height: 18px;
			border-bottom: 1px dashed #000;
			&:hover{ border: 0; }
		}
	}
}

/* Каталог товаров */ 
.products .goods{ min-height: 180px; }

/* Дизайнерские серии */
.design-products .goods{ min-height: 305px; }

/* Популярные товары */
.popular-products{
	.goods{
		min-height: 253px;
		img{ height: 120px; }
		p{ 
			float: none; 
			width: 80%;
			padding: 0;
			margin: 7px auto;
			text-align: left;
			span{ display: block; }
		}
		.number{ font-size: 14px; }
		.name{
			padding-top: 10px;
			border-top: 1px solid #e1e1e1;
		}  
	}
}

/* Преимущества продукции Bravat */
.vantage{
	margin-bottom: 60px;
	.column-text{
		float: left;
		width: 324px;
		padding-right: 30px;
		p{ line-height: 18px; }
	}
	.column-image{
		float: right;
		width: 475px;
		img{ width: 100%; }
	}
}

/* Блок с поиском и контактной информацией */
.contact-info{
	padding: 35px 0 30px;
	border-top: 1px solid #e1e1e1;

	form{ 
		width: 265px; 
		margin-left: 80px;
	}
	.contacts{ width: 325px; }
}

/* Подвал сайта */ 
footer{
	padding: 35px 0;
	min-height: 300px;
	background: #f0f0f0;
}
.navigation{
	float: left;
	width: 240px;
	padding-right: 30px; 
	box-sizing: border-box;

	li{
		font-size: 12px;
		margin-bottom: 23px;
		&:hover a{ text-decoration: underline; }
	}
	
	li:first-child, .head{
		font-family: 'eurofontMediumC';
	}

	a{ color: #505050; }

	form{ margin-left: -15px; }
	.input-search{
		border-color: #e1e1e1;
		background: transparent;
	}
	.submit-search{
		background-color: #e1e1e1;
	}
}








