/* =============================
   main styles page (index.html)
================================ */

/* Верхняя шапка */
.head-page{
	padding-top: 18px;
	padding-bottom: 15px;
	.logo{
		width: 170px;
		display: block;
		margin-right: 155px;
	}
	form{ width: 267px; }
}
.contacts{
	width: 338px;
	text-align: right;
	p{ line-height: 20px; }
	.link{
		color: #000;
		cursor: poiner;
		display: inline-block;
		border-bottom: 1px dashed #000;
		&:hover{ border-bottom: 1px solid #000; }
	}
}

/* Основное меню через бордер*/
/*
header{
	margin-bottom: 3px;
	nav{
		font-size: 0;
		padding: 7px 0;
		background: #000;
		a{
			color: #fff;
			font-size: 16px;
			background: #000;
			padding: 2px 57px;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			border-right: 1px solid #f0f0f0;
		    &:hover{ color: #ccc; }
		}
		a:last-child{ border-right: none; }
	}
} */ 

/* Основное меню через псевдоэлемент */ 
header{
	margin-bottom: 3px;
	nav{
		font-size: 0;
		a{
			color: #fff;
			width: 20%;
			font-size: 16px;
			background: #000;
			padding: 8px 0;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			position: relative;

			&:not(:first-child):after{
				content: "";
				display: block;
				width: 1px;
				height: 16px;
				background: #f0f0f0;
				position: absolute;
				top: 50%;
				margin-top: -8px;
			}
			
		    &:hover, .active{ 
		    	color: #000;
		    	background: #f0f0f0; 
		    }
		}
	}
}

/* Слайдер */ 
.slider{
	position: relative;
	.slider-caption{
		width: 350px;
		padding: 18px 20px;
		@extend .inbox;
		background: rgba(255,255,255,0.7);
		position: absolute;
		top: 35px;
		left: 60px;
	}
	h2 {
		margin-bottom: 10px;
		a{
			line-height: 31px;
			border-bottom: 3px solid #000;
		}
	}
	p{ line-height: 22px; }
}

/* О компании */ 
.about-company{
	margin-bottom: 45px;
	p{ 
		width: 160px; 
		margin-right: 15px;
	}
	.map{ 
		width: 440px; 
		margin-right: 25px;
	}
	.pdf{ 
		width: 160px; 
		a span{
			color: #000;
			font-size: 14px;
			line-height: 18px;
			border-bottom: 1px dashed #000;
			&:hover{ border: 0; }
		}
	}
}

/* Каталог товаров */ 
.products .goods{ min-height: 180px; }

/* Дизайнерские серии */
.design-products .goods{ min-height: 305px; }

/* Популярные товары */
.popular-products{
	.goods{
		min-height: 255px;
		img{ 
			padding: 15px;
			height: 120px;
			@extend .inbox;
		}
		p{ 
			float: none; 
			width: 80%;
			padding: 0;
			margin: 6px auto;
			text-align: left;
			span{ display: block; }
		}
		.number{ font-size: 14px; margin-bottom: 0; }
		.name{
			min-height: 80px;
			padding-top: 10px;
			border-top: 1px solid #e1e1e1;
		}  
	}
}

/* Преимущества продукции Bravat */
.vantage{
	margin-bottom: 60px;
	.column-text{
		float: left;
		width: 324px;
		padding-right: 30px;
		p{ line-height: 18px; }
	}
	.column-image{
		float: right;
		width: 475px;
		img{ width: 100%; }
	}
}

/* Блок с поиском и контактной информацией */
.contact-info{
	padding: 35px 0 30px;
	border-top: 1px solid #e1e1e1;

	form{ 
		width: 265px; 
		margin-left: 80px;
	}
	.contacts{ width: 325px; }
}

/* Подвал сайта */ 
footer{
	padding: 35px 0;
	min-height: 300px;
	background: #f0f0f0;
}
.navigation{
	float: left;
	width: 240px;
	padding-right: 30px; 
	@extend .inbox;

	li{
		font-size: 12px;
		margin-bottom: 23px;
		&:hover a{ text-decoration: underline; }
	}
	
	li:first-child, .head{
		font-family: 'eurofontMediumC';
	}

	a{ color: #505050; }

	form{ margin-left: -15px; }
	.input-search{
		border-color: #e1e1e1;
		background: transparent;
	}
	.submit-search{
		background-color: #e1e1e1;
	}
}

/* Всплывающий поп-ап контактов */ 
.popup-contact{
	width: 320px;
	background: #fff;
	padding: 20px 51px;
	text-align: left;
	border: 2px solid #f0f0f0;
	.margin-bottom{ margin-bottom: 22px; }
	p,a { font-size: 14px; }
	p{
		margin-bottom: 8px;
		line-height: 16px;
	}
	a{
		margin-bottom: 3px;
		line-height: 16px;
		display: inline-block;
		text-decoration: underline;
		&:hover{ text-decoration: none; }
	}
	.head{
		font-size: 16px;
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: 2px solid #f0f0f0;
	}
}


/* ==============================
   catalog, catalog-inner2-3.html
   page styles
================================= */

/* Стили для каталога */ 
.all-catalog{
	.catalog{ margin: 30px 0 70px; }
	.all-link{	
		padding: 0;
		.table{
			display: table;
			min-height: 178px;
			p{
				padding: 0 12px;
				display: table-cell;
				vertical-align: middle;	
			}
		}	
	}
}

/* Стили для модального окна */ 
.modal-catalog{
	clear: both;
	background: #fff;
	padding: 10px 20px;
	border: 3px solid #f0f0f0;
	@extend .inbox;
	img{ width: 290px; }
	h4{
		font-size: 20px;
		margin-bottom: 5px;
		font-family: 'eurofontlightc', sans-serif;
	}
	p{
		font-size: 16px;
		line-height: 18px;
	}
}
.head-modal{
	padding: 5px 0;
	h5{
		color: #000;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		text-decoration: underline;
	}
	a{
		float: right;
		padding: 5px 0;
	}
}


/* ==============================
   Карточка продукта 
   (card-product.html)
================================= */

/* Кастомизация слайда */ 
.card-slider{
	margin-top: 80px;
	.bx-wrapper{ 
		float: left; 
		margin-right: 18px;
		width: 636px!important; 
		border: 1px solid #e1e1e1;
	}
	.slider-pager{ 
		float: right; 
		width: 144px!important; 
		a{
			height: 89px;
			display: block;
			text-align: center;
			margin-bottom: 16px;
			border: 1px solid #e1e1e1;
		}
	}
}

/* Описание продукта */ 
.card-product{
	margin: 35px 0;
	.info{
		width: 640px;
	}
	.row{ margin: 10px 0; }
	h1{ 
		font-size: 24px; 
		line-height: 28px;
		margin-bottom: 10px;
		text-transform: uppercase;
	    font-family: 'eurofontBoldc';
	}
	.grey-head{
		color: #8c8c8c;
		font-size: 12px;
		margin: 12px 0 6px;
	}
	.article{ 
		padding-right: 30px;
		margin-bottom: 12px; 
	}
	.article span{
		font-size: 20px;
		text-transform: uppercase;
	}
	.desc{ margin-bottom: 25px; }
	.link-product, .link-all{
		font-size: 20px;
		margin-bottom: 5px;
		font-family: 'eurofontC';
		text-decoration: underline;
		&:hover{ text-decoration: none; }
	}
	.link-all{ font-size: 14px; }
	.download{
		width: 150px;
		img, a{ 
			display: block; 
			margin-bottom: 10px;
		}
		a{ margin-bottom: 20px; }
		a:last-child{ margin-top: 50px; }
	}
	.link-block{
		margin: 30px 0;
		a{
			display: inline-block;
			vertical-align: top;
			margin-right: 103px;
		}
	}
}



